body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 223, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  position:absolute;
  left:28px;
  top:30px;
  width:640px;
  height:1136px;
}
#u551 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:128px;
}
#u553 {
  position:absolute;
  left:31px;
  top:31px;
  width:633px;
  height:128px;
}
#u554 {
  position:absolute;
  left:2px;
  top:56px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:79px;
}
#u555 {
  position:absolute;
  left:471px;
  top:74px;
  width:180px;
  height:79px;
}
#u556 {
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u557 {
  position:absolute;
  left:212px;
  top:90px;
  width:272px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u558 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:947px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u559 {
  position:absolute;
  left:57px;
  top:196px;
  width:580px;
  height:947px;
}
#u560 {
  position:absolute;
  left:2px;
  top:466px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u561 {
  position:absolute;
  left:49px;
  top:93px;
  width:22px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u562 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u563 {
  position:absolute;
  left:246px;
  top:365px;
  width:33px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u564 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  position:absolute;
  left:28px;
  top:1153px;
  width:640px;
  height:88px;
}
#u566 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u567 {
  position:absolute;
  left:94px;
  top:363px;
  width:507px;
  height:307px;
}
#u568 {
  position:absolute;
  left:2px;
  top:146px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u570 {
  position:absolute;
  left:116px;
  top:380px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u571 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u572 {
  position:absolute;
  left:94px;
  top:422px;
  width:507px;
  height:1px;
}
#u573 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u575 {
  position:absolute;
  left:231px;
  top:369px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u576 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u578 {
  position:absolute;
  left:116px;
  top:443px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u580 {
  position:absolute;
  left:94px;
  top:485px;
  width:507px;
  height:1px;
}
#u581 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u583 {
  position:absolute;
  left:231px;
  top:432px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u584 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u586 {
  position:absolute;
  left:500px;
  top:451px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u587 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u588 {
  position:absolute;
  left:513px;
  top:453px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u589 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u590 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u591 {
  position:absolute;
  left:116px;
  top:628px;
  width:62px;
  height:22px;
  font-size:18px;
}
#u592 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u593 {
  position:absolute;
  left:218px;
  top:631px;
  width:10px;
  height:16px;
}
#u594 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u595 {
  position:absolute;
  left:231px;
  top:617px;
  width:86px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u596 {
  position:absolute;
  left:12px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u597 {
  position:absolute;
  left:335px;
  top:617px;
  width:86px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u598 {
  position:absolute;
  left:12px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u599 {
  position:absolute;
  left:439px;
  top:617px;
  width:86px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u600 {
  position:absolute;
  left:12px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u602 {
  position:absolute;
  left:402px;
  top:635px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u603 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u604 {
  position:absolute;
  left:415px;
  top:637px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u605 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u606 {
  position:absolute;
  left:94px;
  top:729px;
  width:507px;
  height:1px;
}
#u607 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608 {
  position:absolute;
  left:40px;
  top:99px;
  width:40px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:46px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u610 {
  position:absolute;
  left:304px;
  top:1174px;
  width:89px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u611 {
  position:absolute;
  left:16px;
  top:11px;
  width:57px;
  white-space:nowrap;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u612 {
  position:absolute;
  left:321px;
  top:1187px;
  width:19px;
  height:18px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u613 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614 {
  position:absolute;
  left:304px;
  top:1174px;
  width:89px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.149019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u615 {
  position:absolute;
  left:94px;
  top:204px;
  width:507px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u616 {
  position:absolute;
  left:16px;
  top:16px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u617 {
  position:absolute;
  left:118px;
  top:218px;
  width:166px;
  height:48px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u618 {
  position:absolute;
  left:0px;
  top:24px;
  width:142px;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:48px;
  background:inherit;
  background-color:rgba(247, 249, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u619 {
  position:absolute;
  left:94px;
  top:285px;
  width:507px;
  height:48px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u620 {
  position:absolute;
  left:16px;
  top:16px;
  width:475px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u621 {
  position:absolute;
  left:334px;
  top:299px;
  width:57px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#237AE4;
  text-align:center;
  line-height:22px;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u623 {
  position:absolute;
  left:304px;
  top:298px;
  width:25px;
  height:25px;
}
#u624 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u625 {
  position:absolute;
  left:231px;
  top:231px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u626 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u627 {
  position:absolute;
  left:287px;
  top:295px;
  width:121px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:41px;
}
#u628 {
  position:absolute;
  left:30px;
  top:145px;
  width:637px;
  height:41px;
}
#u629 {
  position:absolute;
  left:2px;
  top:12px;
  width:633px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u630 {
  position:absolute;
  left:293px;
  top:150px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u634 {
  position:absolute;
  left:116px;
  top:506px;
  width:85px;
  height:22px;
  font-size:18px;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u637 {
  position:absolute;
  left:231px;
  top:495px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u638 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u640 {
  position:absolute;
  left:500px;
  top:514px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u641 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u642 {
  position:absolute;
  left:513px;
  top:516px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u643 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u644 {
  position:absolute;
  left:94px;
  top:547px;
  width:507px;
  height:1px;
}
#u645 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u646 {
  position:absolute;
  left:317px;
  top:490px;
  width:174px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u647 {
  position:absolute;
  left:2px;
  top:20px;
  width:170px;
  word-wrap:break-word;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u650 {
  position:absolute;
  left:116px;
  top:568px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u653 {
  position:absolute;
  left:231px;
  top:557px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u654 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u656 {
  position:absolute;
  left:500px;
  top:576px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u657 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u658 {
  position:absolute;
  left:513px;
  top:578px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u659 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u660 {
  position:absolute;
  left:94px;
  top:608px;
  width:507px;
  height:1px;
}
#u661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u662 {
  position:absolute;
  left:517px;
  top:427px;
  width:174px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u663 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:56px;
}
#u664 {
  position:absolute;
  left:322px;
  top:556px;
  width:112px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u665 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:94px;
  top:697px;
  width:507px;
  height:372px;
}
#u667 {
  position:absolute;
  left:2px;
  top:178px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u668 {
  position:absolute;
  left:513px;
  top:554px;
  width:174px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u669 {
  position:absolute;
  left:2px;
  top:20px;
  width:170px;
  word-wrap:break-word;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u671 {
  position:absolute;
  left:116px;
  top:716px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u673 {
  position:absolute;
  left:94px;
  top:758px;
  width:507px;
  height:1px;
}
#u674 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u676 {
  position:absolute;
  left:231px;
  top:705px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u677 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u679 {
  position:absolute;
  left:500px;
  top:724px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u680 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:513px;
  top:726px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u682 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u684 {
  position:absolute;
  left:116px;
  top:844px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u686 {
  position:absolute;
  left:94px;
  top:886px;
  width:507px;
  height:1px;
}
#u687 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u689 {
  position:absolute;
  left:231px;
  top:833px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u690 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u692 {
  position:absolute;
  left:500px;
  top:852px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u693 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:513px;
  top:854px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u695 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u696 {
  position:absolute;
  left:513px;
  top:700px;
  width:174px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u697 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u699 {
  position:absolute;
  left:116px;
  top:780px;
  width:62px;
  height:22px;
  font-size:18px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u701 {
  position:absolute;
  left:94px;
  top:822px;
  width:507px;
  height:1px;
}
#u702 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u704 {
  position:absolute;
  left:231px;
  top:769px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u705 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u707 {
  position:absolute;
  left:500px;
  top:788px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u708 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u709 {
  position:absolute;
  left:513px;
  top:790px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:56px;
}
#u711 {
  position:absolute;
  left:513px;
  top:769px;
  width:221px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u712 {
  position:absolute;
  left:2px;
  top:12px;
  width:217px;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u714 {
  position:absolute;
  left:116px;
  top:903px;
  width:98px;
  height:22px;
  font-size:18px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u716 {
  position:absolute;
  left:94px;
  top:945px;
  width:507px;
  height:1px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u719 {
  position:absolute;
  left:231px;
  top:892px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u720 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u722 {
  position:absolute;
  left:500px;
  top:911px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u723 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:513px;
  top:913px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
}
#u726 {
  position:absolute;
  left:287px;
  top:886px;
  width:160px;
  height:58px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u727 {
  position:absolute;
  left:2px;
  top:5px;
  width:156px;
  word-wrap:break-word;
}
#u728 {
  position:absolute;
  left:214px;
  top:855px;
  width:0px;
  height:0px;
}
#u728_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u728_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:48px;
  height:8px;
}
#u728_seg2 {
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:67px;
}
#u728_seg3 {
  position:absolute;
  left:0px;
  top:55px;
  width:44px;
  height:8px;
}
#u728_seg4 {
  position:absolute;
  left:-5px;
  top:49px;
  width:20px;
  height:20px;
}
#u729 {
  position:absolute;
  left:-10px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u731 {
  position:absolute;
  left:116px;
  top:965px;
  width:62px;
  height:22px;
  font-size:18px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u733 {
  position:absolute;
  left:94px;
  top:1007px;
  width:507px;
  height:1px;
}
#u734 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u736 {
  position:absolute;
  left:231px;
  top:954px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u737 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u739 {
  position:absolute;
  left:500px;
  top:973px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u740 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u741 {
  position:absolute;
  left:513px;
  top:975px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u742 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u744 {
  position:absolute;
  left:116px;
  top:1026px;
  width:62px;
  height:22px;
  font-size:18px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:2px;
}
#u746 {
  position:absolute;
  left:94px;
  top:1068px;
  width:507px;
  height:1px;
}
#u747 {
  position:absolute;
  left:2px;
  top:-8px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u749 {
  position:absolute;
  left:231px;
  top:1015px;
  width:294px;
  height:45px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u750 {
  position:absolute;
  left:12px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u752 {
  position:absolute;
  left:500px;
  top:1034px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u753 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u754 {
  position:absolute;
  left:513px;
  top:1036px;
  width:12px;
  height:12px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u755 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u756 {
  position:absolute;
  left:304px;
  top:822px;
  width:174px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u757 {
  position:absolute;
  left:2px;
  top:20px;
  width:170px;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u758 {
  position:absolute;
  left:365px;
  top:1004px;
  width:174px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u759 {
  position:absolute;
  left:2px;
  top:20px;
  width:170px;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  position:absolute;
  left:320px;
  top:632px;
  width:9px;
  height:16px;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  position:absolute;
  left:425px;
  top:632px;
  width:9px;
  height:16px;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
